
<p class="pb-1"><%= space.title %></p>
<% if space.photos.attached? %>
  <%= cl_image_tag space.photos.first.key, crop: :fill, class: "d-block w-100" %>
<% end %>
<small><%= space.address %></small>
<p>USD <%= space.price %> Total</p>
