<h1>Spaces</h1>
<%= link_to "Create a space", new_space_path %>
<ul>
    <% @spaces.each do |space| %>
      <li>
        <%= link_to space.title, space_path(space) %>
        <% space.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 100, width: 150, crop: :fill %>
        <% end %>
      </li>
    <% end %>
</ul>
