<h1>Spaces#index</h1>
<p>Find me in app/views/spaces/index.html.erb</p>

<ul>
    <% @spaces.each do |space| %>
      <li>
        <%= space.title %>
        <% space.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 100, width: 150, crop: :fill %>
        <% end %>
      </li>
    <% end %>
</ul>
