
.navbar-aboutaspace {
  //  background-color: transparent;
  background-color: #4472CA;
  transition: 0.5s background-color ease;
  justify-content: space-between;
}

.navbar-aboutaspace-white {
  background-color: white;
}

.navbar-aboutaspace .navbar-collapse {
  flex-grow: 0;
}

.navbar-aboutaspace .navbar-brand img {
  width: 40px;
}
