
.navbar-aboutaspace {
  //  background-color: transparent;
  background-color: #eaedf3;
  justify-content: space-between;
  transition: color .33s ease,background-color .33s ease;
}

.navbar-aboutaspace-white {
  background-color: white;
}

.navbar-aboutaspace .navbar-collapse {
  flex-grow: 0;
}

.navbar-aboutaspace .navbar-brand img {
  width: 40px;
}


// .nav-filled {
//   color: #4472CA !important;
// }
